ENV=local

# Database
DATABASE_HOST=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASS=
DATABASE_PORT=

# Bitcoind
BITCOIND_HOST=
BITCOIND_USER=
BITCOIND_PASS=
BITCOIND_PORT=

# SSDB
SSDB_HOST=
SSDB_PORT=

# MONITOR
MONITOR_SERVICE_NAME=